{% extends 'admin/layout.html.twig' %}

{% block title %}Editar Agente{% endblock %}


{% block content_header %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Agente</h1>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-xl-6">
        <div class="card card-primary card-outline card-columns">
            <div class="card-header">
                <h3 class="card-title">Editar agente</h3>
            </div>
            <div class="card-body">
                {{ include('admin/agent/_form.html.twig', {'button_label': 'Actualizar'}) }}
            </div>
            <div class="card-footer">
                <a class="btn btn-link" href="{{ path('agent_index') }}">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>
{#{{ include('admin/agent/_delete_form.html.twig') }}#}
{% endblock %}


