{% extends 'base.html.twig' %}

{% block title %}Nuevo Agente{% endblock %}

{% block body %}
    <h1>Crear nuevo Agente</h1>

    {{ include('admin/agent/_form.html.twig') }}

    <a href="{{ path('agent_index') }}">Volver a la lista</a>
{% endblock %}
