{% extends 'default/layout.html.twig' %}

{% block title %}Nuevo Propietario{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-xl-8">
            <div class="card card-primary card-outline card-columns">
                <div class="card-header">
                    <h3 class="card-title">Crear propietario</h3>
                </div>
                <div class="card-body">
                    {{ include('owner/_form.html.twig') }}
                </div>
                <div class="card-footer">
                    <a class="btn btn-link" href="{{ path('owner_index') }}">Volver a la lista</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
